.Reviewd-item--container {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  box-sizing: border-box;
  border: 1px black solid;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 1px black;
}
